
<section class="about">
    <div class="container container_blok">
        <h2 class="about__text">Teacher</h2>
        <picture class="about__image" >
            <source srcset="./images/about/about-pc.webp 1x, ./images/about/about-pc@2x.webp 2x" media="(min-width: 1344px)" type="image/webp"> 
            <source srcset="./images/about/about-pc.jpg 1x, ./images/about/about-pc@2x.jpg 2x" media="(min-width: 1344px)"> 
            
            <source srcset="./images/about/about-tab.webp 1x, ./images/about/about-tab@2x.webp 2x" media="(min-width: 768px)" type="image/webp"> 
            <source srcset="./images/about/about-tab.jpg 1x, ./images/about/about-tab@2x.jpg 2x" media="(min-width: 768px)"> 

            <source srcset="./images/about/about-mob.webp 1x, ./images/about/about-mob@2x.webp 2x" media="(min-width: 320px)" type="image/webp"> 
            <source srcset="./images/about/about-mob.jpg 1x, ./images/about/about-mob@2x.jpg 2x" media="(min-width: 320px)"> 
            
            <img src="#" alt="учитель">
        </picture>
        <div class="about__blok">
            <h3 class="about__blok-name">Elena Moreva</h3>
                <div class="about__blok-section">
                    <p class="about__blok-list">6 yeards of experience in preparing students for UPE</p>
                    <p class="about__blok-list">Own result of passing VNO - 197 points 2 years in a row</p>
                    <p class="about__blok-list">Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English Test)</p>
                </div>
            <p class="about__blok-list-teacher">Graduated from the Institute of International Relations of the NAU with a degree in translator-analyst. In spare time takes courses from the best universities in the world on effective teaching and essay writing techniques.Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The University of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching and Learning (University of Houston).</p>
            <a class="about__blok-list-address" href="">Cambrige English Entry Level Certificate</a>
        </div>
    </div>
</section>