<section class="contacts">
    <div class="container contacts-cont">
        <h2 class="contacts-cont__title">
            Registration for a   <span class="contacts-cont__color">free</span> phone <span class="contacts-cont__color">consultation</span>   on the nuances of English UPE
        </h2>

        <form action="#" class="contacts-cont__form" >
            <p class="contacts-cont__heading">Leave a request for participation in a
                <span class="contacts-cont__color">free lesson</span>. A consultant will contact you and answer your questions </p>
               
                <label class="contacts-cont__field">
                    <input type="text" name="user-name" class="contacts-cont__input" placeholder="Name*" required minlength="2">
                </label>
                <label class="contacts-cont__field">
                    <input type="tel" name="user-phone" class="contacts-cont__input" placeholder="Phone*" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="096-236-67-94">
                </label>
                
                <button type="submit" class="contacts-cont__btn hero__button">i want a free lesson</button>
        </form>
    </div>
</section>