<section class="footer">
    <div class="container footer-cont">
                <a class="logo link" href="./index.html">
                    <span class="logo_bold">Hell</span> <span class="logo_bold">EN</span> <span class="logo_orange">hellish</span> <span class="logo__span">english</span>
                </a>
            <ul class="footer-cont__list list">
                <li class="footer-cont__item">
                    <a class="footer-cont__link link" href="tel:+38000000000"> +38 (000) 000 00 00
                </li>
                <li class="footer-cont__item footer-cont__item--line"></li>
                <li class="footer-cont__item ">
                    <a href="#" class="footer-cont__link" target="_blank">
                        <svg class="footer-cont__icon"  >
                        <use href="#" widht="#" height="#"></use>
                    </a> 
                </li>
              </ul>
        <div class="footer-cont__basement contaiter">
            <p class="footer-cont__txt">
                @ All rights reserved, 2019
            </p>
        </div>
    </div>
</section>