<section class="footer">
    <div class="container footer-cont">
        <a class="logo footer-cont__logo">
            <div class="logo__thumb ">
              <span class="logo__text_up">Hell</span>
              <svg class="logo_fire">
                  <use href="./images/how-we-do/sprite.svg#icon-campfire"></use>
              </svg> 
                  <span class="logo__text_up">EN</span> 
            </div>
             <p class="logo__text"><span class="logo__text_orange">Hellish &nbsp;</span><span class="logo__text_black">english</span></p>
          </a>
            <ul class="footer-cont__list list">
                <li class="footer-cont__item">
                    <a class="footer-cont__link-tel link" href="tel:+38000000000"> 
                        <svg class="footer-cont__icon-tel" widht="20" height="20">
                            <use href="./images/how-we-do/sprite.svg#icon-phone"></use>
                       </svg>+38 (000) 000 00 00
                </li>
                <li class="footer-cont__item ">
                    <a href="https://www.instagram.com/" class="footer-cont__link" target="_blank" rel="noopener noreferrer">
                        <img src="./images/instagram.svg" width="40" height="40">
                    </a> 
                </li>
              </ul>
    </div>

    <div class="footer-basement">
            <div class=" footer-cont-basement container">
                <p class="footer-cont-basement__txt">
                @ All rights reserved, 2019
            </p>
            </div>
    </div>
   
</section>
