<header class="header">
   <div class="container">
    <nav>
        <a class="logo" href="./index.html">
            <span class="logo_bold">Hell</span> <span class="logo_bold">EN</span> <span class="logo_orange">hellish</span> <span class="logo__span">english</span>
        </a>

        <ul class="site-nav">
            <li class="site-nav__item">
                <a class="site-nav__link" href="#">Studying program</a>
            </li>
            <li class="site-nav__item">
                <a class="site-nav__link" href="#">About</a>
            </li>
            <li class="site-nav__item">
                <a class="site-nav__link" href="#">Training options</a>
            </li>
            <li class="site-nav__item">
                <a class="site-nav__link" href="#">Contacts</a>
            </li>
        </ul>

        <button class="header__button">consultation by phone</button>
     </nav>
   </div>
</header>