<header class="header">
    <nav class="desktop-menu section">
        <a class="desktop-menu__logo" href="#">
            <img src="./images/logo/logo-black-pc.svg" width="128px" height="45px">
        </a>

        <!-- <button type="button" class="header__mobile-menu-btn">
            <svg class="header__mobile-menu-icon">
               
            </svg>
        </button> -->

            <ul class="site-nav">
            <li class="site-nav__item">
                <a class="site-nav__link link" href="#">Studying program</a>
            </li>
            <li class="site-nav__item">
                <a class="site-nav__link link" href="#">About</a>
            </li>
            <li class="site-nav__item">
                <a class="site-nav__link link" href="#">Training options</a>
            </li>
            <li class="site-nav__item">
                <a class="site-nav__link link" href="#">Contacts</a>
            </li>
        </ul>
        <button class="desktop-menu__button">consultation by phone</button>
     </nav>
     

     <!-- mobile menu -->
        <div class="mobile-menu">
            <div class="cection">
            <nav>
                <a class="logo" href="#">
                    <img src="./images/logo/logo-white-mob.svg" width="128px" height="45px">
                </a>
               <div class="mobile-menu__thumb">
                <ul class="site-nav">
                    <li class="site-nav__item">
                        <a class="site-nav__link link" href="#">Studying program</a>
                    </li>
                    <li class="site-nav__item">
                        <a class="site-nav__link  link" href="#">About</a>
                    </li>
                    <li class="site-nav__item">
                        <a class="site-nav__link  link" href="#">Training options</a>
                    </li>
                    <li class="site-nav__item">
                        <a class="site-nav__link  link" href="#">Contacts</a>
                    </li>
                </ul>
               </div>
            </nav>
            <button class="mobile-menu__button">consultation by phone</button>
            </div>
        </div>

</header>