<header class="header">
    <nav>
        <a class="logo" href="./index.html">
            <span class="logo_bold">Hell</span> <span class="logo_bold">EN</span> <span class="logo_orange">hellish</span> <span class="logo__span">english</span>
        </a>

        <ul class="site-nav">
            <li class="site-nav__item">
                <a class="site-nav__link" href="#">Studying program</a>
            </li>
            <li class="site-nav__item">
                <a class="site-nav__link" href="#">About</a>
            </li>
            <li class="site-nav__item">
                <a class="site-nav__link" href="#">Training options</a>
            </li>
            <li class="site-nav__item">
                <a class="site-nav__link" href="#">Contacts</a>
            </li>
        </ul>

        <button class="header__button">consultation by phone</button>
     </nav>

    <section class="hero">
        <h1 class="hero__title">Complex <br> preparation for <br> English UPE</h1>
        
        <p class="hero__text">It won’t be easy. <br>
            <span class="hero__text_bold">But you are guaranteed to get</span><span class="hero__text_orange">+25 points</span></p>

        <button class="hero__button">i want a free lesson </button>
    </section>
</header>