<div class="section">
    <section class="hero">
            <h1 class="hero__title">Complex preparation for <br> English UPE</h1>
        
       <div class="hero__thumb">
        <p class="hero__text">It won’t be easy. <br>
            <span class="hero__text_bold">But you are guaranteed to get <br></span><span class="hero__text_orange">+25 points</span></p>
       </div>

        <button class="hero__button">i want a free lesson </button>

        <picture>
            <source 
            srcset="./images/hero/hero-pc.webp 1x,
            ./images/hero/hero-pc@2x.webp 2x"
            media="(min-width: 1344px)"
            type="image/webp"/>

            <source 
            srcset="./images/hero/hero-pc.png 1x,
            ./images/hero/hero-pc@2x.png 2x"
            media="(min-width: 1344px)"/>

            <source 
            srcset="./images/hero/hero-tab.webp 1x,
            ./images/hero/hero-tab@2x.webp 2x"
            media="(min-width: 768px)"
            type="image/webp"/>

            <source 
            srcset="./images/hero/hero-tab.png 1x,
            ./images/hero/hero-tab@2x.png 2x"
            media="(min-width: 768px)"/>

            <source 
            srcset="./images/hero/hero-mob.webp 1x,
            ./images/hero/hero-mob@2x.webp 2x"
            media="(min-width: 320px)"
            type="image/webp"/>

            <source 
            srcset="./images/hero/hero-mob.png 1x,
            ./images/hero/hero-mob@2x.png 2x"
            media="(max-width: 320px)"/>
        
        <img src="./images/hero/hero-mob.png" alt="english_lesson">
    </picture>
    </section>
</div>