<section class="program section">
  <div class="container">
    <h2 class="program__title" id="program">Our program</h2>
    <ul class="program__semesters-list list">
      <li class="program__semesters-item">
        <p class="program__semesters-label">1 Semester</p>
        <ul class="program__skills-list list">
          <li class="program__skills-item">
            <p class="program__skills-label">Grammar</p>
            <ul class="program__topics-list list">
              <li class="program__topics-item">
                <p class="program__topics-description">Nouns & Articles</p>
              </li>
              <li class="program__topics-item">
                <p class="program__topics-description">Adjectives & Adverb</p>
              </li>
            </ul>
          </li>
          <li class="program__skills-item">
            <p class="program__skills-label">Vocabulary</p>
            <ul class="program__topics-list list">
              <li class="program__topics-item">
                <p class="program__topics-description">Family & Relations</p>
              </li>
              <li class="program__topics-item">
                <p class="program__topics-description">People & Society</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__semesters-item">
        <p class="program__semesters-label">2 Semester</p>
        <ul class="program__skills-list list">
          <li class="program__skills-item">
            <p class="program__skills-label">Grammar</p>
            <ul class="program__topics-list list">
              <li class="program__topics-item">
                <p class="program__topics-description">Pronouns</p>
              </li>
              <li class="program__topics-item">
                <p class="program__topics-description">Active Voice</p>
              </li>
              <li class="program__topics-item">
                <p class="program__topics-description">Passive Voice</p>
              </li>
            </ul>
          </li>
          <li class="program__skills-item">
            <p class="program__skills-label">Vocabulary</p>
            <ul class="program__topics-list list">
              <li class="program__topics-item">
                <p class="program__topics-description">Home</p>
              </li>
              <li class="program__topics-item">
                <p class="program__topics-description">School</p>
              </li>
              <li class="program__topics-item">
                <p class="program__topics-description">Work</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__semesters-item">
        <p class="program__semesters-label">3 Semester</p>
        <ul class="program__skills-list list">
          <li class="program__skills-item">
            <p class="program__skills-label">Grammar</p>
            <ul class="program__topics-list list">
              <li class="program__topics-item">
                <p class="program__topics-description">Modal verbs</p>
              </li>
              <li class="program__topics-item">
                <p class="program__topics-description">Infinitive</p>
              </li>
              <li class="program__topics-item">
                <p class="program__topics-description">Gerund</p>
              </li>
              <li class="program__topics-item">
                <p class="program__topics-description">Participle: 1, 2</p>
              </li>
            </ul>
          </li>
          <li class="program__skills-item">
            <p class="program__skills-label">Vocabulary</p>
            <ul class="program__topics-list list">
              <li class="program__topics-item">
                <p class="program__topics-description">Travel & Tourism</p>
              </li>
              <li class="program__topics-item">
                <p class="program__topics-description">Culture & Free Time</p>
              </li>
              <li class="program__topics-item">
                <p class="program__topics-description">Sport</p>
              </li>
            </ul>
          </li>
          <li class="program__skills-item">
            <p class="program__skills-label">Writing</p>
            <ul class="program__topics-list list">
              <li class="program__topics-item">
                <p class="program__topics-description">Informal Letter</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__semesters-item">
        <p class="program__semesters-label">4 Semester</p>
        <ul class="program__skills-list list">
          <li class="program__skills-item">
            <p class="program__skills-label">Grammar</p>
            <ul class="program__topics-list list">
              <li class="program__topics-item">
                <p class="program__topics-description">Clauses: Conditional and Wishes</p>
              </li>
              <li class="program__topics-item">
                <p class="program__topics-description">Direct / Reported speech</p>
              </li>
              <li class="program__topics-item">
                <p class="program__topics-description">Preposition</p>
              </li>
              <li class="program__topics-item">
                <p class="program__topics-description">Conjunction</p>
              </li>
              <li class="program__topics-item">
                <p class="program__topics-description">Numeral</p>
              </li>
            </ul>
          </li>
          <li class="program__skills-item">
            <p class="program__skills-label">Vocabulary</p>
            <ul class="program__topics-list list">
              <li class="program__topics-item">
                <p class="program__topics-description">Healthy Living</p>
              </li>
              <li class="program__topics-item">
                <p class="program__topics-description">Nature & Environment</p>
              </li>
              <li class="program__topics-item">
                <p class="program__topics-description">Money</p>
              </li>
            </ul>
          </li>
          <li class="program__skills-item">
            <p class="program__skills-label">Writing</p>
            <ul class="program__topics-list list">
              <li class="program__topics-item">
                <p class="program__topics-description">Formal Letter</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__semesters-item">
        <p class="program__semesters-label">5 Semester</p>
        <ul class="program__skills-list list">
          <li class="program__skills-item">
            <p class="program__skills-label"></p>
            <ul class="program__topics-list list">
              <li class="program__topics-item">
                <p class="program__topics-description">Revision</p>
              </li>
              <li class="program__topics-item">
                <p class="program__topics-description">Tests</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
