
.about{

  @media screen and (min-width: 320px) {

    padding-top: 39px;
    padding-bottom: 50px;
	}

  @media screen and (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
   }
 
   @media screen and (min-width: 1366px) {
    padding-top: 130px;
    padding-bottom: 50px;
    }
}

.about__container{
	@media screen and (min-width: 320px) {
	  width: 320px;
	  margin: 0 auto;
	  padding-left: 20px;
	  padding-right: 20px;
	}
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: 1366px) {
width: 1314px;
       }
}
  .about__list{
    @media screen and (min-width: 768px) {
    display: flex;
    }
  }

.about__blok-section{
  position: relative;
  width: 300px;
  padding-left: 27px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 57px;

  @media screen and (min-width: 1366px) {
    width: 100%;
  }
}

.about__text{
  margin-bottom: 20px;
  font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 130%;
letter-spacing: 0.03em;
color: #111518;

@media screen and (min-width: 1366px) {
  font-size: 46px;
  margin-bottom: 50px;
  }

}

.about__image{
  @media screen and (min-width: 320px) {
width: 243px;
	}

  @media screen and (min-width: 768px) {
  margin-right: 44px;
  }

  @media screen and (min-width: 1366px) {
    margin-right: 31px;
   width: 530px;
    }
    
}


.about__blok-name{
  font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.08em;
color: #111518;
padding-bottom: 10px;
border-bottom: 1px solid #B9B9B9;

@media screen and (min-width: 1366px) {
  font-size: 30px;
  line-height: 1.23;
  padding-bottom: 15px;
  margin-bottom: 29px;
  }

}

.about__blok-list{
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 1.21;
letter-spacing: 0.06em;
color: #111518;
margin-bottom: 25px;
position: relative;



&::before{
  position: absolute;
  content: "";
  width: 18px;
  height: 14px;
  background-image: url('../images/about/check-mark.svg');
  fill: var(--Accent-color);
  left: -25px;
  top: 3px;
}

@media screen and (min-width: 1366px) {
  font-size: 16px;
line-height: 20px;
  }


}

.about__blok-list-teacher{
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 2.16;
color: #B9B9B9;
margin-bottom: 25px;
position: relative;

&::before{
  position: absolute;
  content: "";
  width: 18px;
  height: 3px;
  background-image: url('../images/about/line.svg');
  fill: var(--Accent-color);
  left: 0;
  top: -20px;
}
  @media screen and (min-width: 1366px) {
 font-size: 18px;
  line-height: 1.55;
    }

}

.about__blok-list-address{
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 1.6;
text-decoration-line: underline;
color: #FF6B09;

@media screen and (min-width: 1366px) {
  font-size: 18px;
  line-height: 1.55;
     }
}

.about__blok{
  @media screen and (min-width: 320px) and (max-width: 767px) {
   margin-top: 20px;
  }

  @media screen and (min-width: 768px) {
  width: 404px;
  }

  @media screen and (min-width: 1366px) {
  width: 642px;
  }
}
