
.contacts {
    padding-top: 136.04px;
    padding-bottom: 19.82px;
    background: #111518;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../../images/contacts/contacts-pc.jpg);

}

.contacts-cont {

        &__title{
            font-weight: 800;
            font-size: 46px;
            line-height: 130%;
            text-align: center;
            letter-spacing: 0.03em;

            color: #FFFFFF;
        }
        &__color {
            color: #FF6B09;
        }
        &__form {}
        &__heading{
            font-weight: 600;
            font-size: 30px;
            line-height: 1.23;
            text-align: center;
            letter-spacing: 0.08em;

            color: #FFFFFF;
        }
        &__field{}
        &__input {} 
        &__btn {}


}