.contacts-cont {
    display: flex;
    flex-direction: column;
    
}

.contacts {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(17, 21, 24, 1);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(

        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../images/contacts/contacts-mob.jpg);

    &__title{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        font-weight: 800;
        font-size: 14px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.03em;

        color: var(--White-color);
    }
    &__color {
        color: var(--Accent-color);
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }


    &__heading{
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        text-align: center;
        letter-spacing: 0.08em;
        color: var(--White-color);
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    &__field{
        display: flex;
        align-items: center;
        
        &-name {
            margin-bottom: 20px;
        }
    }

    
    &__input {
        
        font-weight: 600;
        font-size: 14px;
        line-height: 1.21;
        width: 280px;
        height: 48px;
        padding-left: 28px;
        display: flex;
        align-items: center;
        letter-spacing: 0.08em;
        border: 1px solid var(--White-color);
        box-sizing: border-box;
        color: var(--White-color);
        background-color: transparent;

        &::placeholder {
            color: var(--White-color);
            
           
          }
    } 
    &__btn {
        margin-top: 50px;
        font-weight: bold;
        font-size: 12px;
        line-height: 1.25;
        text-transform: uppercase;
        background-color: var(--Accent-color);
        color: #FFFFFF;
        border-style: none;
        padding: 17px 46px 16px 46px;
        letter-spacing: 0.08em;
       
    }
}


@media (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
    .contacts { background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../images/contacts/contacts-mob@2x.jpg);
   
    }
}
@media screen and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
    .contacts { 
        padding-top: 50px;
        padding-bottom: 71px;
        background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../images/contacts/contacts-tab.jpg); 
    
        &__title{
        
        font-size: 26px;
        }
        &__btn {
            margin-top: 31px;
        }
        &__input {
            width: 390px;
        }
}}

@media (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
    .contacts { background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../images/contacts/contacts-tab@2x.jpg);}
}
@media screen and (min-width: 1366px),
  (min-resolution: 192dpi) and (min-width: 1366px),
  (min-resolution: 2dppx) and (min-width: 1366px) {
    .contacts { 
 
        padding-top: 136px;
        padding-bottom: 20px;
        max-width: 1680px;
        background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../images/contacts/contacts-pc.jpg);
    &__title{
        
        font-size: 46px;
        
    }
    &__btn {
        margin-top: 77px;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.21;
      
        padding: 26px 71px 25px 71px;
        letter-spacing: 0.14em;
           }
        &__input {
            width: 478px;
            height: 68px;
            font-size: 20px;
            line-height: 1.2;
        }
}}

@media (min-device-pixel-ratio: 2) and (min-width: 1366px),
  (min-resolution: 192dpi) and (min-width: 1366px),
  (min-resolution: 2dppx) and (min-width: 1366px) {
    .contacts { background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../images/contacts/contacts-pc@2x.jpg);
}
} 
    

