
.footer {
  padding-top: 40px;
  background-color: var(--White-color);
}
.footer-cont {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 20px;

  &__logo {
    
    margin-bottom: 20px;
    cursor: pointer;

  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  &__link-tel {
    align-items: center;
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.08em;

    color: var(--primary-text-color);
  }
  &__icon-tel {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }

  &__link {
    display: flex;
  }
}

.footer-cont-basement {
  padding-top: 21px;
  padding-bottom: 21px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  background-color: var(--secondary-background-color);
  height: 70px;

  &__txt {

    font-weight: 500;
    font-size: 14px;
    line-height: 2;
    margin-left: 35px;

    color: var(--secondary-text-color);
  }

}
@media screen and (min-width: 768px) {
  .footer-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // padding-top: 40px;
    margin-bottom: 40px;

    &__logo{
        
        margin-bottom: 0;
    }
    &__list {
       
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__item {
        display: flex;
       
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
    &__link-tel {
      position: relative;
      &::after {
          position: absolute;
          display: block;
          content: "";
          right: -24px;
          height: 40px;
          border-right: 1px solid var(--secondary-text-color);
      }
     
      }
&__item {

 

  &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 48px;
  }
}
.footer-cont-basement {

&__txt {

margin-left: 0;}
}

  }
  .footer-cont-basement {
    &__txt {
      margin-left: 0;
      margin-right: 0;
    }
   
}
}
@media screen and (min-width: 1366px) {
  .footer {
    margin: 0 auto;
    
    padding-top: 58px;
  } 
  .footer-cont {
    // width: 100%;
    width: 1366px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 57px;
    justify-content: flex-start;

    &:not(:last-child) {
    align-items: flex-start;}

    
    &__logo {  
      margin-right: 312px;
    }}
        .footer-cont-basement{
          width: 1366px;
         
      }
    
}
