// .footer{

// }
.footer-cont{


    // &__list {

    // }

    &____item {


        &__item--line {
            border-left:  1px solid var(--secondary-text-color);
            padding: 0;
        }
    }
    
    
    &__link {
        font-weight: 600;
        font-size: 30px;
        line-height: 1.23;
     
        text-align: center;
        letter-spacing: 0.08em;

        color: #111518;
    }
    // &__icon {

    // }

    &__basement {
        background-color: var(--secondary-background-color);

    }

    &__txt {
        font-weight: 500;
        font-size: 14px;
        line-height: 2;

        display: flex;
        align-items: center;

        color: var(--secondary-text-color);

    }
}