.header {
    max-width: 1316px;
}

// LOGO
.logo {
    &__thumb {
        display: flex;
        align-items: center;
    }

    &__text_up {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 26px;
        line-height: 1.23;
        letter-spacing: 0.04em;
    
        color: #111518;
    }

    &__text_up:first-child {
        margin-right: 4px;
    
    }

    &__text {
        margin: 0;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 8px;
        line-height: 1.25;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        color: #FF6B09;

        &_black {
            color: #212121;
        }
    }

    &_fire {
        display: inline-block;
        width: 22px;
        height: 30px;
        margin-right: 4px;
    } 
}

// NOBILE MENU
// .mobile-menu {
//     display: none;
//     opacity: 0;
//     display: flex;
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     overflow: auto;

//     background-color: rgba(17, 21, 24, 0.9);
//     overflow-y: scroll;
     
//     padding-top: 30px;
//     padding-left: 20px;
//     padding-right: 20px;    

//     &.is-open {
//         opacity: 1;
//         visibility: visible;
//         pointer-events: auto;
//         // display: none;
//       }
// }


// @media screen and (max-width: 1313px) {
    .desktop-menu {
        display: none;
    }

    .site-nav__item {
        list-style-type: none;
    }
    
    // .header__mobile-menu-icon {
    //     width: 20px;
    //     height: 12px;
    //     fill: var(--White-color);
    // }
    
    .mobile-menu__button {
       
        border: 2px solid var(--Accent-color);
    
        font-family: var(--font-family);
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 1.25;
        color:  var(--Accent-color);
        background: rgba(17, 21, 24, 0.9);
    
        margin-left: auto;
        margin-right: auto;
        padding: 17px 35px 16px 36px;
    
        letter-spacing: 0.08em;
        text-transform: uppercase;
        cursor: pointer;
    }
    
    .site-nav {
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 50px;

        &__link {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            line-height: 1.8;
            letter-spacing: 0.03em;
                      
            color: var(--White-color);
    
            &:hover,
            &:focus {
                color: var(--Accent-color);
            }
        }
    }
    // }

   

    @media screen and (min-width: 768px) {
        // .logo {
        //     &__thumb {
        //         display: flex;
        //         align-items: center;
        //     }
        
        //     &__text_up {
        //         font-family: Montserrat;
        //         font-style: normal;
        //         font-weight: 800;
        //         font-size: 26px;
        //         line-height: 1.23;
        //         letter-spacing: 0.04em;
            
        //         color: #111518;
        //     }
        
        //     &__text_up:first-child {
        //         margin-right: 4px;
            
        //     }
        
        //     &__text {
        //         margin: 0;
        //         font-family: Montserrat;
        //         font-style: normal;
        //         font-weight: bold;
        //         font-size: 8px;
        //         line-height: 1.25;
        //         letter-spacing: 0.18em;
        //         text-transform: uppercase;
        //         color: #FF6B09;
        
        //         &_black {
        //             color: #212121;
        //         }
        //     }
        
        //     &_fire {
        //         display: inline-block;
        //         width: 22px;
        //         height: 30px;
        //         margin-right: 4px;
        //     } 
        // }

        .mobile-menu {     
            padding-top: 42px;
            padding-left: 40px;
            padding-right: 40px;  
            
            &__thumb {
            display: block;
            margin-left: auto;
            margin-right: auto;

            }
        }
        .site-nav {
            display: block;
           margin-bottom: 0;

           &__link {
               font-size: 26px;
           }
        }
        .mobile-menu__button {
            display: none;
        }
    }    

    @media screen and (min-width: 1314px) {  
        .header {
            padding-left: 22px;
            padding-right: 22px;
            margin-left: auto;
            margin-right: auto;
        }
        .desktop-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 58px;
            padding-bottom: 47px;

            &__button {
                font-family: Montserrat;
                font-weight: bold;
                font-size: 14px;
                line-height: 1.2;
                letter-spacing: 0.14em;
                text-transform: uppercase;
                
                color: var(--Accent-color);
                border: 2px solid var(--Accent-color);
                background-color: var(--White-color);
                padding: 27px 23px 26px 24px;
            }
        }

        .site-nav {
            display: flex;
            justify-content: flex-end;
            margin-top: 0;

            &__item {
                list-style-type: none;  

                &:nth-child(1) {
                    margin-left: 144px;
                }
            }

            

            &__item:not(:first-child) {
                margin-left: 40px;
            }
            
            &__link {
                font-weight: bold;
                font-size: 14px;
                line-height: 1.2;
                display: flex;
                text-transform: uppercase;
                color: var(--secondary-text-color);
                padding-top: 31px;
                padding-bottom: 29px;

                &:hover,
                &:focus {
                    color: var(--Accent-color);
                }

                
                
            }
        }

            .mobile-menu {
                display: none;
            }  
        }



    

   
