.logo {
    display: block;
    &__thumb {
        display: flex;
        align-items: center;
    }
    &__text_up {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 1.23;
        letter-spacing: 0.04em;
        color: var(--primary-text-color);
    }
    &__text_up:first-child {
        margin-right: 4px;
    }
    &__text {
        margin: 0;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 6px;
        line-height: 1.25;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        color: #FF6B09;

        &_black {
            color: var(--primary-text-color);
        }
    }
    &_fire {
        display: inline-block;
        width: 14px;
        height: 19px;
        margin-right: 4px;
    } 
}   

.site-nav {
    display: none;
}

.desktop-menu__thumb {
    display: none;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px 0 20px;
    &__mobile-menu-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        margin-left: 40px;
    }  
}

        .desktop-menu {
            &__button {
                display: none;
                font-weight: bold;
                font-size: 14px;
                line-height: 1.21;
                letter-spacing: 0.14em;
                text-transform: uppercase;
                
                color: var(--Accent-color);
                border: 2px solid var(--Accent-color);
                background-color: var(--White-color);
                padding: 15px 5px 16px 5px;
            }

            &__thumb {
                display: flex;
            }
        }
        
        .site-nav-desktop {
            display: none;
        }

         @media screen and (max-width: 767px) {
            .header.container {
                 max-width: 320px;
             }
        }
       
@media screen and (min-width: 768px) {
    .desktop-menu {
    &__thumb {
        display: flex;
    }
    &__button {
        display: flex;
    }
    }

    .site-nav {
        display: none;
    }

    .header__menu {
        min-width: 768px;
        margin-bottom: 46px;
    }
}



@media screen and (min-width: 1366px) {
    .site-nav-desktop {
                    display: flex;
                    
                    margin-top: 0;
                    margin-bottom: 0;
        
                    &__item {
                        list-style-type: none;  
        
                        &:nth-child(1) {
                            margin-left: 144px;
                        }
                    }
        
                    &__item:not(:first-child) {
                        margin-left: 40px;
                    }
                    
                    &__link {
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 1.2;
                        display: flex;
                        text-transform: uppercase;
                        color: var(--secondary-text-color);
                        padding-top: 31px;
                        padding-bottom: 29px;

                        transition: color var(--animation);

                        
        
                        &:hover,
                        &:focus {
                            color: var(--Accent-color);
                        }
                    }
                }
}

// BACKDROP
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--main-background-color);
    width: 100%;
    height: 100%;
    z-index: 100;

    overflow-y: scroll;
    opacity: 1;
    transition: opacity var(--animation);

        &.is-hidden {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;

            .modal {
                display: none;
            }

            & .modal {
                transform: translate(-50%, -50%) scale(0.7);
              }
        }
}

// MODAL-window
.modal {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
  
    padding: 15px;
  
    background-color: var(--White-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--animation);
  }
  
  .modal {
        width: 100%;
        max-width: 280px;
        min-height: 300px;
       }
  
  .modal {
    &__button {
        position: absolute;
        top: 15px;
        right: 20px;
        background: transparent;
        border: none;
        padding: 0;
    }

    &__close {
        width: 20px;
        height: 20px;
        fill: var(--primary-text-color);
        transition: fill var(--animation);

        &:hover,
        &:focus {
            fill: var(--Accent-color);
        }
    }

    transition: fill var(--animation);
  
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }

  .modal {
      position: relative;
      &__text {
          font-size: 17px;
          color: var(--primary-text-color);
          margin-top: 10px;
          text-align: center;
      }

      &__button {
          position: absolute;
          top: 5px;
          right: 5px;
      }
  }

.contact-form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    &__input {
    font-size: 10px;
    color: var(--secondary-text-color);
    outline: none;
    width: 100%;
    height: 40px;
    padding: 6px;
    border: 1px solid var(--secondary-text-color);
    border-radius: 4px;

    transition: border, border-radius var(--animation);

    &:hover,
    &:focus {
        border: 1px solid var(--Accent-color);
        border-radius: 10px;
    }
    }

    &__label {
        display: block;
        font-size: 14px;
        margin-bottom: 8px;
        margin-top: 8px;
        text-align: center;
        color: var(--Accent-color);
    }

    &__message {
        font-size: 10px;
        color: var(--secondary-text-color);
        outline: none;
        border: 1px solid var(--secondary-text-color);
        box-sizing: border-box;
        border-radius: 4px;
        resize: none;
        width: 100%;
        height: 60px;

        transition: border, border-radius var(--animation);

        &:hover,
        &:focus {
        border: 1px solid var(--Accent-color);
        border-radius: 10px;
    }
    }

    &__btn {
        display: block;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        border-color: transparent;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: var(--primary-text-color);
        background-color: var(--Accent-color);
        
    }

    &__span {
        display: block;
        padding: 4px 15px;
    }
}
  
@media screen and (min-width: 768px) {
    .modal {
        max-width: 380px;
        min-height: 400px;

        &__text {
            font-size: 20px;
            margin-top: 15px;
        }

        &__close {
            width: 25px;
            height: 25px;
        }
       }

       .contact-form {
           &__label {
               font-size: 18px;
               margin-top: 12px;
                margin-bottom: 12px;
           }

           &__input {
            height: 60px;
            font-size: 14px;
            padding: 10px;
            }

            &__message {
                font-size: 14px;
                height: 100px;
                padding: 10px;
            }

            &__btn {
                font-size: 18px;
                margin: 15px auto;
            }

            &__span {
                padding: 12px 22px;
            }
        }
}


@media screen and (min-width: 1366px) {
    .modal {
        max-width: 480px;
        min-height: 500px;

        &__text {
            font-size: 24px;
            margin-top: 20px;
        }

        &__close {
            width: 30px;
            height: 30px;
        }
       }

       .contact-form {
        &__label {
            font-size: 22px;
            margin-top: 16px;
            margin-bottom: 16px;
        }

        &__input {
            height: 80px;
            font-size: 18px;
            padding: 14px;
        }

        &__message {
            font-size: 18px;
            height: 120px;
            padding: 14px;
        }

        &__btn {
            font-size: 24px;
            margin: 20px auto;
        }

        &__span {
            padding: 16px 26px;
        }
    }

}
