// LOGO
.logo {
    &__thumb {
        display: flex;
        align-items: center;
    }
    &__text_up {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 1.23;
        letter-spacing: 0.04em;
        color: #111518;
    }
    &__text_up:first-child {
        margin-right: 4px;
    }
    &__text {
        margin: 0;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 6px;
        line-height: 1.25;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        color: #FF6B09;

        &_black {
            color: #212121;
        }
    }
    &_fire {
        display: inline-block;
        width: 14px;
        height: 19px;
        margin-right: 4px;
    } 
}
    .desktop-menu__button {
        display: none;
    }

    .site-nav {
        display: none;
    }

.header {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px 0 20px;
    &__mobile-menu-btn {
        background-color: transparent;
        border: none;
        padding: 0;
    }  
    &__mobile-menu-icon {
        width: 21px;
        height: 12px;
        fill: var(--primary-text-color);
    }
}
.desktop-menu {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .header {
        max-width: 688px;
        padding: 41px 40px 0 40px;
        margin-right: auto;
        margin-left: auto;

        &__mobile-menu-btn {
            margin-left: 45px;
        }
    }
        .logo {
            &__text_up {

                font-weight: 800;
                font-size: 26px;
                line-height: 1.23;
                letter-spacing: 0.04em;
            }
        
            &__text {
                font-size: 8px;
            }
        
            &_fire {
                width: 22px;
                height: 30px;
            } 
        }

        .desktop-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 47px;

            &__button {
                display: block;
                font-weight: bold;
                font-size: 14px;
                line-height: 1.21;
                letter-spacing: 0.14em;
                text-transform: uppercase;
                
                color: var(--Accent-color);
                border: 2px solid var(--Accent-color);
                background-color: var(--White-color);
                padding: 15px 5px 16px 5px;
            }

            &__thumb {
                display: flex;
            }
        }
    }    

    @media screen and (min-width: 1344px) { 
        .header {
            padding: 0;
            max-width: 1316px;
        }

        .header__mobile-menu-btn {
            display: none;
        }

        .desktop-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .site-nav {
            display: block;
           margin-bottom: 0;

           &__link {
               font-size: 26px;
           }
        }
        .mobile-menu__button {
            display: none;
        }
        .desktop-menu__button {
            display: block;
        }

        .header {
            padding-left: 22px;
            padding-right: 22px;
            margin-left: auto;
            margin-right: auto;
        }
        .desktop-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 58px;
            padding-bottom: 47px;

            &__button {
                padding: 27px 23px 26px 24px;
            }
        }

        .site-nav {
            display: flex;
            justify-content: flex-end;
            margin-top: 0;

            &__item {
                list-style-type: none;  

                &:nth-child(1) {
                    margin-left: 144px;
                }
            }

            &__item:not(:first-child) {
                margin-left: 40px;
            }
            
            &__link {
                font-weight: bold;
                font-size: 14px;
                line-height: 1.2;
                display: flex;
                text-transform: uppercase;
                color: var(--secondary-text-color);
                padding-top: 31px;
                padding-bottom: 29px;

                &:hover,
                &:focus {
                    color: var(--Accent-color);
                }
            }
        }

            .mobile-menu {
                display: none;
            }  
        }

// NOBILE MENU
// .mobile-menu {

//     &.is-open {
//         opacity: 1;
//         visibility: visible;
//         pointer-events: auto;
//         // display: none;
//       }
// }


// @media screen and (max-width: 1313px) {


//     .site-nav__item {
//         list-style-type: none;
//     }
    
//     .header__mobile-menu-icon {
//         width: 20px;
//         height: 12px;
//         fill: var(--White-color);
//     }
    
//     .mobile-menu__button {
       
//         border: 2px solid var(--Accent-color);
    
//         font-family: var(--font-family);
//         font-style: normal;
//         font-weight: bold;
//         font-size: 12px;
//         line-height: 1.25;
//         color:  var(--Accent-color);
//         background: rgba(17, 21, 24, 0.9);
    
//         margin-left: auto;
//         margin-right: auto;
//         padding: 17px 35px 16px 36px;
    
//         letter-spacing: 0.08em;
//         text-transform: uppercase;
//         cursor: pointer;
//     }
    
//     .site-nav {
//         padding-left: 0;
//         margin-top: 0;
//         margin-bottom: 50px;

//         &__link {
//             font-family: Montserrat;
//             font-style: normal;
//             font-weight: 800;
//             font-size: 20px;
//             line-height: 1.8;
//             letter-spacing: 0.03em;
                      
//             color: var(--White-color);
    
//             &:hover,
//             &:focus {
//                 color: var(--Accent-color);
//             }
//         }
//     }
//     }

     // NOBILE MENU
    // .desktop-menu {
    //     display: none;
    // }
//     .mobile-menu {
//         position: fixed;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         overflow: auto;

//         background-color: rgba(17, 21, 24, 0.9);
//         opacity: 0.9;
//     }

//     .site-nav {
//             padding-left: 0;
//             margin-top: 0;
//             margin-bottom: 50px;

//             &__item {
//                 list-style-type: none;
//             }
    
//             &__link {
//                 font-family: Montserrat;
//                 font-style: normal;
//                 font-weight: 800;
//                 font-size: 20px;
//                 line-height: 1.8;
//                 letter-spacing: 0.03em;
                          
//                 color: var(--White-color);
        
//                 &:hover,
//                 &:focus {
//                     color: var(--Accent-color);
//                 }
//             }
//         }

//         .mobile-menu__button {
//                 border: 2px solid var(--Accent-color);
            
//                 font-family: var(--font-family);
//                 font-style: normal;
//                 font-weight: bold;
//                 font-size: 12px;
//                 line-height: 1.25;
//                 color:  var(--Accent-color);
//                 background: rgba(17, 21, 24, 0.9);
            
//                 margin-left: auto;
//                 margin-right: auto;
//                 padding: 17px 35px 16px 36px;
            
//                 letter-spacing: 0.08em;
//                 text-transform: uppercase;
//                 cursor: pointer;
//                 display: flex;
//                 justify-content: center;
                
//             }
//             .logo-mob {
//                 &__text_up {
//                     color: var(--White-color);
//                     margin-right: 4px;
//                 }
//                 &__text {
//                     &_black {
//                         color: var(--White-color);
//                     }
//                 }
//                 &__text_white {
//                     color: var(--White-color);
//                 }
//             }
//         .logo-mob{
//             display: block;
//             margin-top: 30px;
//             margin-bottom: 50px;
//         }  

   
