    .container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        min-width: 320px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .hero {
        // max-width: 688px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        &__title {
            font-family: var(--font-family);
            font-weight: 800;
            font-size: 20px;
            line-height: 1.3;
            letter-spacing: 0.03em;
            margin-top: 50px;
    
            color: var(--primary-text-color);
                }
    
        &__thumb {
            margin-top: 8px;
            margin-bottom: 52px;
        }
    
        &__text {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 14px;
            line-height: 1.57;
            letter-spacing: 0.08em;
    
            color: var(--secondary-text-color);
        }
    
        &__text_bold {
            font-family: var(--font-family);
            font-weight: bold;
            font-size: 14px;
            color: var(--primary-text-color);
        }
    
        &__text_orange {
            font-weight: bold;
            color: var(--Accent-color);
        }
    
        &__button {
            font-family: var(--font-family);
            font-weight: bold;
            font-size: 12px;
            line-height: 1.25;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: var(--White-color);
            background-color: var(--Accent-color);
            padding: 20px 48px;
            border-style: none;
            margin-bottom: 55px;
        } 
    }

    @media screen and (max-width: 767px) {
        .container {
            max-width: 320px;
            
        }
        .hero__picture {
            margin-right: auto;
            margin-left: auto;
        }
    }

@media screen and (min-width: 768px) {
    .hero {
        min-width: 768px;
        // position: absolute;
        display: block;
       
       &__title {
           margin-top: 0;
           padding-bottom: 0px;
       }

        &__thumb {
         display: flex;
         flex-direction: column;
         justify-content: start;
        }

        &__picture {
            position: absolute;
            right: 0px;
            top: 0px;
        }

        &__button {
            margin-bottom: 139px;
        }
    }

    

}

@media screen and (min-width: 1366px) {
    .hero {   
        max-height: 1316px; 
        &__title {
            width: 642px;
            font-size: 58px;
            line-height: 1.3;
        }

        &__text {
            font-size: 20px;
            line-height: 1.65;
        }

        &__text_bold {
            font-weight: bold;
            font-size: 20px;
        }
    
        &__text_orange {
            font-size: 20px;
            color: var(--Accent-color);
        }

        &__picture {
            right: 0px;
            top: 46px;
        }  
        
        &__button {
            margin-bottom: 182px;
        }
    }
}