.hero {
  background-image: url(../images/hero/hero-img_tablet.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
  max-width: 1688px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
}

@media screen and (min-width: 280px) and (max-width:767px) {
  .hero {
    background: url(../images/hero/hero-img_tablet.png);
    background-repeat: no-repeat;
    background-position-x: -50px;
    background-position-y: 50px;
  }
}

@media screen and (min-width: 1366px) and (max-width:1688px) {
  .hero {
    background: url(../images/hero/hero-img_pc.png);
    background-repeat: no-repeat;
    // background-position-x: -50px;
    // background-position-y: 50px;
  }
}

.hero__title {
  padding-top: 111px;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .hero__title {
      padding-top: 176px;
  }

  .hero__picture {
      top: 171px;
      right: 18px;
  }
}

@media screen and (min-width: 1366px) {
  .hero__title {
      padding-top: 204px;
  }

  .hero__picture {
      top: 150px;
  }
}

// HERO
.hero-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}
.hero {
    overflow: hidden;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 20px;
        line-height: 1.3;

        color: var(--primary-text-color);
            }

    &__thumb {
        margin-top: 8px;
        margin-bottom: 52px;
    }

    &__text {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.57;
        letter-spacing: 0.08em;

        color: var(--secondary-text-color);
    }

    &__text_bold {
        font-family: var(--font-family);
        font-weight: bold;
        font-size: 14px;
        color: var(--primary-text-color);
    }

    &__text_orange {
        font-weight: bold;
        color: var(--Accent-color);
    }

    &__button {
        display: block;
        font-family: var(--font-family);
        font-weight: bold;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: var(--White-color);
        background-color: var(--Accent-color);
        padding: 20px 48px;
        border-style: none;
        margin-bottom: 55px;
        margin-left: auto;
        margin-right: auto;
        transition: color, background-color, border, border var(--animation);
        border: 1px solid transparent;

        &:hover,
        &:focus {
          color: var(--Accent-color);
          background-color: var(--White-color);
          border: 1px solid var(--Accent-color);
        }
    } 
}

@media screen and (max-width: 767px) {
  .hero-container {
    max-width: 480px;
  }

    .hero__picture {
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 77px;
    }
}

@media screen and (max-width: 480px) and (max-width: 767px) {
.hero-container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
.hero-container {
max-width: 768px;
}
.test {
  min-width: 768px;
}

.hero {
min-width: 768px;
// position: absolute;
display: block;

&__title {
  font-size: 26px;
  max-width: 332px;
  margin-top: 0;
  padding-bottom: 0px;
}

&__thumb {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

&__picture {
  position: absolute;
}

&__button {
 margin-left: 0;
  margin-bottom: 139px;
}
}
}

@media screen and (min-width: 1366px) {
.hero-container {
min-width: 1344px;
}

.hero {
max-height: 1316px;
&__title {
  min-width: 642px;
  font-size: 58px;
  line-height: 1.3;
}

&__text {
  font-size: 20px;
  line-height: 1.65;
}


.hero {   
    max-height: 1316px; 
    &__title {
        width: 642px;
        font-size: 58px;
        line-height: 1.3;
    }

    &__text {
        font-size: 20px;
        line-height: 1.65;
    }

    &__text_bold {
        font-weight: bold;
        font-size: 20px;
    }

    &__text_orange {
        font-size: 20px;
        color: var(--Accent-color);
    }

    &__picture {
        right: -160px;
    }  
    
    &__button {
        padding: 27px 70px;
        margin-bottom: 260px;
    }
}

&__text_orange {
  font-size: 20px;
  color: var(--Accent-color);
}

&__picture {
  right: 0px;
}
}
}
