.how-we-do {
  &__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-background-color);
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      font-size: 26px;
    }
    @media screen and (min-width: 1336px) {
      font-size: 46px;
      text-align: left;
    }
  }
  &__item {
    margin-bottom: 15px;
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
    max-width: 100%;
  }

  &__list-icon {
    text-align: center;
  }

  &__icon {
    fill: var(--Accent-color);
    transition: fill var(--animation);
    &:hover,
    &:focus {
      fill: var(--White-color);
    }
  }
  &__list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.08em;
    color: var(--secondary-background-color);
  }
  @media screen and (min-width: 1336px) {
    font-size: 20px;
    line-height: 1.4;
  }
}
