.program {
  padding: 50px 0 537px;
  background-color: var(--secondary-background-color);

  &__semesters-list {
    padding-left: 120px;
    //  display: flex;
    //    flex-direction: column;
    //  align-items: center;
  }

  &__title {
    margin-bottom: 43px;

    font-weight: inherit;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--White-color);
  }

  &__semesters-item {
    //  padding-left: 120px;
    // margin: 0 auto;
  }

  &__semesters-label {
    //  height: 28px;
    margin-bottom: 11px;
    // display: flex;
    //align-items: center;
    // justify-content: center;
    position: relative;
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    //  text-align: center;
    color: var(--White-color);
  }

  &__semesters-decoration {
    &::before {
      //Radius of list decoration element
      $decor-radius: 12px;
      //  vertical-align: middle;
      //line-height: inherit;
      content: '';
      position: absolute;
      left: -20px - $decor-radius;
      top: 50%;
      //display: block;
      //  margin-right: 20px;
      width: $decor-radius;
      height: $decor-radius;
      background-color: var(--Accent-color);
      border-radius: 50%;

      transform: translate(0, -50%);
    }
  }

  &__skills-item {
    margin-bottom: 14px;
  }

  &__skills-label {
    //  height: 32px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 12px;
    line-height: 164.9%;
    //  text-align: center;
    letter-spacing: 0.08em;
    color: var(--Accent-color);
  }

  &__topics-item {
  }

  &__topics-description {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.08em;
    //  text-align: center;
    color: var(--secondary-text-color);
    opacity: 0.5;
  }
}
