.problems {
	position: relative;
	@media screen and (min-width:280px) {
		padding-top: 25px;
		background-image: linear-gradient(
			to bottom,
			var(--secondary-background-color) 545px,
			var(--White-color) 148px
		 );
	 }
	 @media screen and (min-width: 768px) {
		padding-top: 60px;
		background-image: linear-gradient(
			to bottom,
			var(--secondary-background-color) 340px,
			var(--White-color) 152px);
	 }
	 @media screen and (min-width: 1366px) {
		padding-top: 100px;
		background-image: linear-gradient(
			to bottom,
			var(--secondary-background-color) 560px,
			var(--White-color) 150px),
			
	 }
}
.problems__icon{
	@media screen and (max-width: 1365px) {
		display: none;
	 }
	background-image: url('../images/problems/campfire-pc.svg');
	content: '';
	position: absolute;
	top: 115px;
	right: 0px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: cover;
	height: 445px;
	width: 398px;
	z-index: 0;


}
.containers{
	width: 100%;
	@media screen and (min-width: 280px) and (max-width:319px) {
		max-width: 280px;
		margin: 0 auto;
		padding-right: 5px;
		padding-left: 5px;
	}
	@media screen and (min-width: 320px) {
	  max-width: 320px;
	  margin: 0 auto;
	  padding-left: 20px;
	  padding-right: 20px;
	}

	@media screen and (min-width: 768px) {
	  max-width: 768px;
	  padding-left: 40px;
	  padding-right: 40px;
	}

	@media screen and (min-width: 1366px) {
		max-width: 1366px;
		padding-left: 26px;
		padding-right: 26px;
	 }

}
.problems__title {
	margin-bottom: 25px;
	// max-width: 280px;
	font-size: 24px;
	line-height: 1.3;
	letter-spacing: 0.03em;
	color: var(--White-color);
	@media screen and (min-width: 768px) and(max-width:1365px) {
		width: 450px;
	 }
	 @media screen and (min-width: 1366px) {
		 margin-bottom: 70px;
		 max-width: 866px;
		 font-size: 46px;
		 line-height: 1.3;

	 }
}
.problems__label {
	font-size: 24px;
	line-height: 1.3;
	letter-spacing: 0.03em;
	color: var(--Accent-color);
	@media screen and (min-width: 1366px) {
		max-width: 866px;
	  font-size: 46px;
	  line-height: 1.3;

	}
}
.problems__list {
	@media screen and (min-width: 280px) and (max-width:319px) {
		padding-left: 10px;
		padding-right: 10px;
		margin: 0;
	}
	padding-top: 19px;
	padding-bottom: 19px;
	padding-left: 30px;
	padding-right: 14px;
	box-shadow: -5px 8px 26px 0px #0000000A;
	background-color: var(--White-color);
	@media screen and (min-width: 768px) and (max-width: 1365px)  {
		max-width: 688px;
		padding-top: 26px;
		padding-left: 96px;
		padding-right: 109px;
		padding-bottom: 30px;
		display: flex;
		flex-wrap: wrap;
	 }
	 @media screen and (min-width: 1366px) {
		 position: relative;
	   //  max-width: 1314px;
		 height: 366px;
		 display: inline-flex;
		 flex-wrap: wrap;
		 padding-top: 70px;
		 padding-bottom: 62px;
		 padding-left: 114px;
		 padding-right: 112px;
		 z-index: 99;
	 }
}
.problems__item {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.08em;
	color: var(--Accent-color);

	&::before{
		content: '';
		margin-right: 9px;
		display: inline-block;
		vertical-align: middle;
		border: 1px solid var(--Accent-color);
		width: 20px;
	}

	@media screen and (max-width: 767px) {
		&:not(:last-child){
			margin-bottom: 10px;
		}
	 }

	@media screen and (min-width: 768px)  {
		width: calc((100% - 2 * 22px) / 2);
		margin-right: 22px;
		&:nth-child(1){
			margin-bottom: 24px;
		}
		&:nth-child(3){
			margin-bottom: 32px;
		}
	 }
	 @media screen and (min-width: 1366px) {
		width: calc((100% - 6 * 20px) / 3);
		margin-right: 20px;
		margin-left: 20px;

		&:nth-child(-n + 3) {
			margin-bottom: 32px;
		 }
	 }
}
.problems__text {
	@media screen and (min-width: 280px) and (max-width:319px) {
		max-width:100%
	}
	max-width: 236px;
	margin-top: 5px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0.08em;
	text-align: left;
	color: var(--primary-text-color);

	@media screen and (min-width: 1366px) {
		margin-top: 10px;
		font-size: 20px;
		line-height: 1.4;
		max-width: 336px;
	 }
}
