.problems {
	@media screen and (max-width: 767px) {
		padding-top: 25px;
		background-image: linear-gradient(
			to bottom,
			var(--secondary-background-color) 545px,
			var(--White-color) 148px
		 );
	 }
	 @media screen and (min-width: 768px) {
		padding-top: 60px;
		background-image: linear-gradient(
			to bottom,
			var(--secondary-background-color) 340px,
			var(--White-color) 152px
		 );
	 }
	 @media screen and (min-width: 1366px) {
		//  max-width: 1314;
		padding-top: 100px;
		background-image: linear-gradient(
			to bottom,
			var(--secondary-background-color) 560px,
			var(--White-color) 150px);

	
	 }
	//  .problems__icon{
	//  }


}
.problems__title {
	margin-bottom: 25px;
	max-width: 280px;
	font-size: 24px;
	line-height: 1.3;
	text-align: left;
	letter-spacing: 0.03em;
	color: var(--White-color);
	@media screen and (min-width: 768px) {
		max-width: 450px;
	 }
	 @media screen and (min-width: 1366px) {
		 margin-bottom: 70px;
		 max-width: 866px;
		 font-size: 46px;
		 line-height: 1.3;

	 }
}
.problems__label {
	font-size: 24px;
	line-height: 1.3;
	letter-spacing: 0.03em;
	color: var(--Accent-color);
	@media screen and (min-width: 1366px) {
		max-width: 866px;
	  font-size: 46px;
	  line-height: 1.3;

	}
}
.problems__list {
	padding-top: 19px;
	padding-bottom: 19px;
	padding-left: 30px;
	padding-right: 14px;
	box-shadow: -5px 8px 26px 0px #0000000A;
	background-color: var(--White-color);
	@media screen and (min-width: 768px) and (max-width:1365px) {
		max-width: 688px;
		padding-top: 26px;
		padding-left: 96px;
		padding-right: 109px;
		padding-bottom: 30px;
		display: flex;
		flex-wrap: wrap;
		margin-right: -22px;
	 }
	 @media screen and (min-width: 1366px) {
	    max-width: 1314px;
		 height: 366px;
		display: inline-flex;
		flex-wrap: wrap;
		padding-top: 70px;
		padding-bottom: 62px;
		padding-left: 114px;
		padding-right: 112px;
		// margin-right: -20px;
		// margin-left: -20px;
	 }
}
.problems__item {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.08em;
	color: var(--Accent-color);

	&::before{
		content: '';
		margin-right: 9px;
		display: inline-block;
		vertical-align: middle;
		border: 1px solid var(--Accent-color);
		width: 20px;
	}

	@media screen and (max-width: 767px) {
		&:not(:last-child){
			margin-bottom: 10px;
		}
	 }

	@media screen and (min-width: 768px) and (max-width: 1355px) {
		width: calc((100% - 2 * 22px) / 2);
		margin-right: 22px;
	 }
	 @media screen and (min-width: 1366px) {
		// width: calc((100% - 6 * 20px) / 3);
		// margin-right: 20px;
		// margin-left: 20px;
		&:nth-child(3n + 2)  {
			margin-right: 40px;
			margin-left: 40px;
		 }

		&:nth-child(-n + 3) {
			margin-bottom: 32px;
		 }
	 }
}
.problems__text {
	margin: 0;
	max-width: 236px;
	margin-top: 5px;
	font-weight: 700;
	font-size: 14px;
	line-height: 2;
	letter-spacing: 0.08em;
	text-align: left;
	color: var(--primary-text-color);

	@media screen and (min-width: 1366px) {
		margin-top: 10px;
		font-size: 20px;
		line-height: 1.4;
		min-width: 336px;
	 }
}
