.reviews__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.31;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.reviews__wrapper-slider {
  margin-bottom: 50px;
}

.review__slide {
  margin-bottom: 20px;
  padding: 0 20px 30px 20px;
  /* display: block;
  text-align: center; */
  background: var(--White-color);
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

/* .review__slide-2 {
  height: 54px;
} */

.review__img {
  margin: 0 auto;
  margin-bottom: 20px;
  height: 90px;
  width: 90px;
}

.review-slide-social-link {
  margin-bottom: 20px;
}

.review-slide-title {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: var(--Accent-color);
  margin-bottom: 10px;
}

.review-slide-about {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  color: var(--secondary-text-color);
  margin-bottom: 25px;
}

.review-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #3d3d3d;
}

.review-item-more {
  color: var(--Accent-color);
}
.reviews__slider-2 {
  padding: 0 60px;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}
.slick-arrow {
  position: absolute;
  top: 40%;
  z-index: 10;
  font-size: 0;
  width: 25px;
  height: 15px;
  border: none;
}
.slick-next {
  right: 0;
  background: url('../images/reviews/arrow-next.svg') 0 0 / 100% no-repeat;
}

.slick-prev {
  left: 0;
  background: url('../images/reviews/arrow-prev.svg') 0 0 / 100% no-repeat;
}

@media screen and (max-width: 767px) {
  .review__slide {
    display: block;
    text-align: center;
  }
  .reviews__slider-2 {
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .reviews__title {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .reviews__wrapper-slider {
    position: relative;
    padding: 0 60px;
  }
  .review__slide {
    display: flex;
    margin-bottom: 30px;
    padding: 40px;
  }
  .review__img-wrapper {
    margin-right: 40px;
  }
  .review-slide-wrapper {
    width: 400px;
  }
  .review__img {
    margin: 0;
    width: 150px;
    height: 150px;
  }
  .review-slide-social-link {
    margin-left: 60px;
  }
}

@media screen and (min-width: 768px) {
  .review-slide-wrapper {
    width: 706px;
  }
}
